@font-face {
    font-family: "Inria Sans";
    src: url(./font/InriaSans-Regular.ttf);
}
@font-face {
    font-family: "Inria Sans";
    src: url(./font/InriaSans-Bold.ttf);
    font-weight: bold;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
    /* font-size: 62.5%; */
    font-family: "Inria Sans", sans-serif;
    color: var(--color-brown-700);
    font-weight: 400;
}

/* variáveis aqui globais aqui */
:root{
    --color-brown-700:#4A1F08;
    --color-brown-900:#2D1305;

    --color-yellow-300:#FFC700;
    --color-yellow-500:#FED774;

    --color-blue-500:#24A9E1;

    --color-white-100:#FFFFFF;
    
    --horizontal-padding: calc((100vw - 1200px) / 2);
    --nav-height:90px;
    --footer-height:160px;

    --font-text: 1.5rem;
    --font-h1:2.25rem;
}


/* Inicio da home*/


body{
    
    background-image: url(./images/Home/imagem\ de\ fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.left_part{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative; margin-top: 150px; padding: var(--nav-height);
}


.tittle_one{
    font-size: 3.25rem;
    display: flex;
    position: absolute;
    
}

/* css do botão do whatsapp*/

.grid{
    display: grid;
    grid-auto-rows: 130px;
}


.geometric{
    position: relative; 
    z-index: -1;
    margin-top: 100px;
    background-color: #FED774;
    width: 250px;
    height: 100px;
    border-radius: 60px   60px;
    border: #FED774;

}

.zap{
    visibility: visible;
    font-weight: bold;
    font-size: 1.5rem;
    height: 5px;
    margin-left: 100px;
    margin-top: -65px;
    color: black;
}

.img{
    visibility: visible;
    margin-left: 15px;
    margin-top: -75px;
    color: black;    
}


.container{
    position: relative;
    margin-top: 100px;
    width: 250px;
    height: 100px;
    border-radius: 60px   60px;
    background-color: #FED774;
    
}

.legenda{
    visibility: hidden;
    position: absolute;
    font-size: 1.5rem;
    left: 50px;
    bottom:38px
    
}.legenda p{
    color: #FED774;

}

.container:hover .legenda{
    visibility: visible;
    

}

.container:hover {
    background-color: #4A1F08;
}

.container:hover .zap{
    visibility: hidden;
}

.container:hover .img{
    visibility: hidden;
}

/* Css do botão cadastre-se*/

button{
    border: none;
    
}


.geometric_b{

    position: relative; 
    z-index: -1;
    margin-top: 0px;
    background-color: #FED774;
    width: 250px;
    height: 100px;
    border-radius: 60px  60px;
    border: #FED774

}

.zap_b{
    visibility: visible;
    font-weight: bold;
    font-size: 1.5rem;
    height: 5px;
    margin-left: 65px;
    margin-top: -70px;
    color: black;
}

.img_b{
    visibility: visible;
    margin-left: 10px;
    margin-top: -80px;
    color: black;    
}


.container_b{
    position: relative;
    margin-top: 100px;
    width: 260px;
    height: 120px;
    border-radius: 60px   60px;
    background-color: #FED774;
    
}

.legenda_b{
    visibility: hidden;
    position: absolute;
    font-size: 1.5rem;
    left: 30px;
    bottom:50px
    
}.legenda_b p{
    color: #FED774;

}

.container_b:hover .legenda_b{
    visibility: visible;
    

}

.container_b:hover {
    background-color: #4A1F08;
}

.container_b:hover .zap_b{
    visibility: hidden;
}

.container_b:hover .img_b{
    visibility: hidden;
}


















/* Css do botão cardápio*/

.geometric_s{
    position: relative; 
    z-index: -1;
    margin-top: 0px;
    background-color: #FED774;
    width: 250px;
    height: 100px;
    border-radius: 60px   60px;
    border: #FED774;

}

.zap_s{
    visibility: visible;
    font-weight: bold;
    font-size: 1.5rem;
    height: 5px;
    margin-left: 100px;
    margin-top: -65px;
    color: black;
}

.img_s{
    visibility: visible;
    margin-left: 15px;
    margin-top: -75px;
    color: black;    
}


.container_s{
    position: relative;
    margin-top: 100px;
    width: 250px;
    height: 100px;
    border-radius: 60px   60px;
    background-color: #FED774;
    
}

.legenda_s{
    visibility: hidden;
    position: absolute;
    font-size: 1.5rem;
    left: 7px;
    bottom:38px
    
}.legenda_s p{
    color: #FED774;

}

.container_s:hover .legenda_s{
    visibility: visible;
    

}

.container_s:hover {
    background-color: #4A1F08;
}

.container_s:hover .zap_s{
    visibility: hidden;
}

.container_s:hover .img_s{
    visibility: hidden;
}












/* etiqueta  */
.etiqueta{
    position: absolute;
    margin-top: 225px;
    margin-left: -60px; 
    background-color: #FFC700;
    width: 130px;
    height: 30px;
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border: #FED774;
    font-size: 1.20rem;

}

.etiqueta:hover {
    transform: scale(2); transition: 0.7s ease-in-out;
    animation-iteration-count: infinite;
    
}



/* Aqui começa a parte direita do site, o carrosel */

.right_section{
    margin-left: 750px;
    position: relative; top: -400px; 
}

.tittle_carousel{
    font-size: 3.25rem;
    
}


.right_section{
    margin-left: 750px;
    position: relative; top: -400px; 
}

.tittle_carousel{
    font-size: 3.25rem;
    
}


.slider{
    margin-top: 60px;
    width: 550px;
    height: 400px;
    overflow: hidden;
    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;  
    gap: 10px; 
    
}

.slides input{
    
    display: none;
    
    

}

.slide{
    width: 25%;

    
}




.slide img{
    width: 450px;
    
}

.manual-navigation{
    padding-right: 250px;
    padding-top: 20px;
    position: absolute;
    width: 800px;
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFFFFF;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){

    margin-right: 20px;
}

.manual-btn:hover{
    background-color: #FED774;

}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navvigation-auto div{
    border: 2px solid blue; 
    
}


.navvigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navvigation-auto .autobtn1{
    background-color: var(--color-yellow-500);
}

#radio2:checked ~ .navvigation-auto .autobtn1{
    background-color: var(--color-yellow-500);
}

#radio3:checked ~ .navvigation-auto .autobtn1{
    background-color: var(--color-yellow-500);
}


/*  Aqui começa o parte infeior do site */


.second_tittle{
    font-weight: bold;
    position: absolute;
    margin-top: -590px;
    margin-left: 220px; 
    color: #FFFFFF;
    font-size: 3.25rem;
    

}


.geometric_two{
    position: absolute;
    margin-top: -500px;
    margin-left: 100px; 
    background-color: #FED774;
    width: 470px;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
    border: #FED774;
    font-size: 1.5rem;
}

.word_bottom{
    color: #4A1F08;
    font-size: 3.25rem;
    padding-top: 15px;
    font-weight: 200
    
}


.text_bottom{
    position: absolute;
    padding-top: -350px;
    color: #FFFFFF;
}




.linha-vertical {
    position: absolute;
    height: 500px;
    margin-top: -590px;
    margin-left: 620px;
    border-left: 2px solid #FFFFFF
    
  }

.tittle_map{
    font-weight: bold;
    position: absolute;
    margin-top: -590px;
    margin-left: 750px; 
    color: #FFFFFF;
    font-size: 3.25rem;
}

.map{
    font-weight: bold;
    position: absolute;
    margin-top: -500px;
    margin-left: 650px; 
    color: #FFFFFF;
    font-size: 3.25rem;
    height: 410px;
    width: 520px;
    border-radius: 20px;
    
}

.leia_mais{
    position: absolute;
    margin-top: -70px;
    margin-left: 280px; 
    background-color: #FED774;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    
}

.word_mini_bottom{
    font-weight: bold;
    font-size: 1.25rem;
    color: #4A1F08;
}













/* vv   FOOTER  vv */
footer{
    margin-top: var(--nav-height);
    

    display: flex;
    flex-direction: column;
    gap: 0px;

    background-color: var(--color-yellow-500);
    height: var(--footer-height);
}

/* classe para a parte superior do footer (logo + redes + links) */
.footer__sup-row{
    margin-top: 45px;

    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: fit-content;
    justify-content: space-between;


    align-items: center;
    padding: 0px;

}

.footer__img{
    height: 82px;
    width: 92px;
    justify-self: start;
}
.footer__icon{
    height: 35px;
}

.footer__hr{
    width: 65%;
    border: 1px solid var(--color-brown-700);    
}

.footer__text{
    font-size: var(--font-text);
    justify-self: end;
}

.footer__links{
    align-items: center;
    justify-self: center;
}

.footer__inf-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}